#addTaskField {
    position: relative;
    padding: 10px;
}

#addTaskTextarea {
    width: 85%;
}

#addTaskField form {
    width: 100%;
}

#addTaskField form * {
    width: 100%;
}

#toDoListContainer textarea {
    resize: none;
    outline: none;
}


#addTaskBtn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 5px;
    margin-right: 5px;
}

#listOfTasks {
    position: relative;
    min-height: 100px;
    word-break: break-all;
}

#listOfTasks table {
    width: 100%;
}

.task {
    position: relative;
    margin-top: 7px;    
}

.task * {
    display: inline-block;
    word-break: break-all;
}

.task form{
    display: block;
}

.task p {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    float: left;
    text-align: left;
}

.editTaskTextarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
}

.unFinishedTaskText {   
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.doneBtn {
    display: none;
    float: right;
}

.saveEditBtn {
    position: absolute;
    bottom: 12px;
    left: 24px;
}

.cancelEditBtn {
    float: right;
}

.task:hover .doneBtn {
    display: inline-block;
}

.finishedTaskText {
    text-decoration: line-through;
}

#addTaskField * {
    display: inline-block;
}